html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1.125rem;
}
.logo {
  width: 150px;
}
.flex {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: black;
  margin-bottom: 3px;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}

.menu.open > span:first-child {
  transform: rotate(45deg);
}

.menu.open > span:nth-child(2) {
  opacity: 0;
}

.menu.open > span:last-child {
  transform: rotate(-45deg);
}

.hamburger:last-child {
  margin-bottom: 3px;
}

a {
  text-decoration: none;
  color: lightgray;
}

.links {
  font-size: 1.25rem;
}
.links a:not(:last-child) {
  margin-right: 32px;
}

/*Visibility*/
@media only screen and (min-width: 63.9375em) {
  /* For mobile phones: */
  .hide-for-mobile {
    display: none;
  }
}

@media only screen and (max-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 90px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: lightblue;
  background-image: linear-gradient(lightblue, transparent);
}

.overlay.open {
  opacity: 1; /* Set opacity to 1 when the menu is open */
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}
@keyframes fade-in {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}
