html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1.125rem;
}
.logo {
  width: 150px;
}
.robot {
  height: 25%;
  width: 25%;
}
.intro {
  display: flex;
  justify-content: space-evenly;
}
.flex {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: black;
  margin-bottom: 3px;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}

.menu.open > span:first-child {
  transform: rotate(45deg);
}

.menu.open > span:nth-child(2) {
  opacity: 0;
}

.menu.open > span:last-child {
  transform: rotate(-45deg);
}

.hamburger:last-child {
  margin-bottom: 3px;
}

a {
  text-decoration: none;
  color: lightgray;
}

.links {
  font-size: 1.25rem;
}
.links a:not(:last-child) {
  margin-right: 32px;
  color: black;
}
.nav__link a {
  color: black;
}

/*Visibility*/
@media only screen and (min-width: 63.9375em) {
  /* For mobile phones: */
  .hide-for-mobile {
    display: none;
  }
}

@media only screen and (max-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 90px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: lightblue;
  background-image: linear-gradient(lightblue, transparent);
}

.overlay.open {
  opacity: 1; /* Set opacity to 1 when the menu is open */
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.menu_links {
  background: white;
  padding: 1.625rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.5 rem;
  border-radius: 5px;
}
.menu_links a {
  display: block;
  padding: 0.625 rem;
  color: darkblue;
  margin: 10px;
  text-align: center;
}
.container {
  padding-left: 1.5 rem;
  padding-right: 1.5 rem;
}
.has-fade {
  visibility: hidden;
}
.Designing {
  height: 69px;
  flex-shrink: 0;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 42rem;
}
.About-Us {
  height: 115px;
  flex-shrink: 0;
  color: #000000;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  margin-left: 15rem;
}
.About-Us-Pic-1 {
  width: 662px;
  height: 451px;
  flex-shrink: 0;
  border-radius: 149px;
  background: #d9d9d9;
}
.About-Us-Text-1 {
  width: 606px;
  height: 350px;
  flex-shrink: 0;
  color: #000000;
  font-family: Comfortaa;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.About-Us-Pic-2 {
  width: 662px;
  height: 451px;
  flex-shrink: 0;
  border-radius: 149px;
  background: #d9d9d9;
}
.About-Us-Text-2 {
  width: 606px;
  height: 350px;
  flex-shrink: 0;
  color: #000000;
  font-family: Comfortaa;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.row-structure {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}
.get-started {
  height: 115px;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.video {
  width: 851px;
  height: 537px;
  flex-shrink: 0;
  border-radius: 149px;
  background: #d9d9d9;
  text-align: center;
}
.video-description {
  height: 138px;
  flex-shrink: 0;
  color: #000000;
  font-family: Comfortaa;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  width: 100rem;
}
.tutorial {
  height: 115px;
  color: #000000;
  text-align: center;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: Inder;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tutorial-video {
  width: 851px;
  height: 537px;
  border-radius: 149px;
  background: #d9d9d9;
}
.tutorial-video-description {
  height: 138px;
  color: #000000;
  font-family: Comfortaa;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  width: 100rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

body {
  background-color: rgba(
    167,
    233,
    227,
    0.942
  ); /* Change this to the desired background color */
  /* Other existing body styles */
}

.header {
  background-color: white;
}
